body{
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #153677, #4f2758);
  margin: 0;
  padding: 0;
}

.todo-container {
  max-width: 1100px;
  margin: 40px auto;
  padding: 0 400px;
  flex-direction: column;
  justify-content: center;
}

button {
  border-radius:10px;;
  color: black;
  border-color: grey;
  cursor: pointer;
  background-color: rgb(245, 243, 248);
  border: oklab(lightness a b);
  border: ;
}

.add-folder {
  display: flex;
  gap: 8px;
  margin-bottom: 20px;
  width: 50px;
}

.add-folder input {
  flex: 1;
  padding: 10px 12px;
  border-radius: 10px;
  border: none;
  background-color: white;
  outline: none;
}

.folder-grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  font-family: 'motserrat', sans-serif;
  color: white;
  font-size: 50px;
}